<template>
  <div>
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <button
              id="bttt"
              class="btn badge-dark"
              type="button"
              @click="abrirModal('cliente', 'Agregar cliente', 'Agregar')"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Lista de clientes:</h3>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Client Name</th>
            <th>DOP</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Payments</th>
            <th>Total</th>
            <th>Actions</th>
            <th colspan="2">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item_c, index) in clientes" :key="index">
            <td width="10px">{{ item_c.firstname }}</td>
            <td width="10px">{{ item_c.dob }}</td>
            <td>{{ item_c.phone }}</td>
            <td width="10px">{{ item_c.email }}</td>
            <td>{{ item_c.address }}</td>
            <td>{{ item_c.id }}</td>
            <td>{{ item_c.amount }}</td>
            <td width="10px">
              <a
                href="#"
                type="button"
                data-toggle="modal"
                data-target="#exampleModal"
                class="btn btn-warning btn-sm"
                @click="
                  abrirModal('cliente', 'Editar cliente', 'Editar', item_c)
                "
                >Editar</a
              >
            </td>
            <td width="10px">
              <a
                href="#"
                class="btn btn-danger btn-sm"
                @click="Eliminar(item_c)"
                >Eliminar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal Crear y Editar -->
    <div
      class="modal fade"
      :class="{ mostrar: modal }"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" v-text="titulo_modal"></h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="cerrarModal()"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="agregar">
              <h2></h2>
              <h5>PERSONAL INFORMATION</h5>
              <div class="row">
                <div class="col-4">
                  <label for="firstname">First Name</label>
                  <input
                    id="firstname"
                    type="text"
                    class="form-control mb-2"
                    placeholder="First Name "
                    v-model.trim="$v.cliente.firstname.$model"
                  />
                  <span
                    v-if="
                      !$v.cliente.firstname.required &&
                      $v.cliente.firstname.$dirty
                    "
                    class="text-danger"
                    >Nombre es obligatorio</span
                  >
                </div>
                <div class="col-4">
                  <label for="lastname">Last Name</label>
                  <input
                    id="lastname"
                    type="text"
                    class="form-control mb-2"
                    placeholder="Last Name "
                    v-model="cliente.lastname"
                  />
                </div>
                <div class="col-4">
                  <label for="dob">DOB</label>
                  <input
                    type="date"
                    class="form-control"
                    v-model="cliente.dob"
                  />
                </div>
                <div class="col-4">
                  <label for="phone">Phone</label>
                  <input
                    id="phone"
                    type="text"
                    class="form-control mb-2"
                    placeholder="Phone"
                    v-model="cliente.phone"
                  />
                </div>
                <div class="col-4">
                  <label for="email">Email</label>
                  <input
                    id="email"
                    type="text"
                    class="form-control mb-2"
                    placeholder="Email"
                    v-model="cliente.email"
                  />
                </div>
                <div class="col-4">
                  <label for="address">Address</label>
                  <input
                    id="address"
                    type="text"
                    class="form-control mb-2"
                    placeholder="Address"
                    v-model="cliente.address"
                  />
                </div>
              </div>
              <h5>PAYMENTS</h5>
              <div class="row">
                <div class="col-4">
                  <label for="transa">Transaction</label>
                  <input
                    type="text"
                    class="form-control mb-2"
                    placeholder="Transaction"
                    v-model="cliente.transaction"
                  />
                </div>
                <div class="col-4">
                  <label for="dob">Amount</label>
                  <input
                    type="text"
                    class="form-control mb-2"
                    placeholder="Amount"
                    v-model="cliente.amount"
                  />
                </div>
                <div class="col-4">
                  <label for="date">Date</label>
                  <input
                    type="date"
                    class="form-control"
                    v-model="cliente.date"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              @click="cerrarModal()"
            >
              Cerrar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              v-if="tipo_accion == 1"
              @click="agregarCliente()"
            >
              Agregar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              v-if="tipo_accion == 2"
              @click="editar()"
            >
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, between } from "vuelidate/lib/validators";
export default {
  validations: {
    cliente: {
      firstname: {
        required,
        minLength: minLength(4),
      },
    },
    age: {
      between: between(20, 30),
    },
  },
  data() {
    return {
      name: "",
      modoEditar: false,
      clientes: [],
      modal: 0,
      titulo_modal: "",
      cliente: {
        nombre: "",
        id: 0,
        firstname: "",
        lastname: "",
        dob: "",
        phone: "",
        email: "",
        address: "",
        transaction: "",
        amount: "",
        date: "",
        name: "",
      },
      tipo_accion: 0,
      editarActivo: false,
      errors: [{ name: "fallo" }, { email: "coorreo fallado" }],
    };
  },
  created() {
    this.getItems();
  },
  methods: {
    getItems() {
      axios.get(`/clientes/`).then((res) => {
        this.clientes = res.data;
      });
    },
    enviarFormulario() {
      this.$v.$touch();
      if (!this.$v.$invalid) console.log(this.firstnamez);
    },

    agregarCliente() {
      this.modoEditar = false;
      if (
        this.cliente.firstname.trim() === "" ||
        this.cliente.lastname.trim() === "" ||
        this.cliente.dob.trim() === "" ||
        this.cliente.phone.trim() === "" ||
        this.cliente.email.trim() === "" ||
        this.cliente.address.trim() === "" ||
        this.cliente.transaction.trim() === "" ||
        this.cliente.amount.trim() === "" ||
        this.cliente.date.trim() === ""
      ) {
        toastr.error("Debes completar todos los campos antes de guardar");
        return;
      }
      const empleadoNueva = this.cliente;
      axios
        .post("/clientes", empleadoNueva)
        .then((res) => {
          this.clientes.push(res.data);
          toastr.success("Agregado correctamente");
          this.cerrarModal();
          this.getItems();
        })
        .catch((error) => {
          this.errors = error.response.data.error;
          toastr.success("error"); //mensaje
          if (error.response.status == 422) {
            (this.errors = error.response.data.errors),
              console.log(this.errors),
              toastr.success("error");
          }
        });
    },

    editar() {
      if (
        this.cliente.firstname.trim() === "" ||
        this.cliente.lastname.trim() === "" ||
        this.cliente.dob.trim() === "" ||
        this.cliente.phone.trim() === "" ||
        this.cliente.email.trim() === "" ||
        this.cliente.address.trim() === "" ||
        this.cliente.transaction.trim() === "" ||
        this.cliente.amount.trim() === "" ||
        this.cliente.date.trim() === ""
      ) {
        toastr.error("Debes completar todos los campos antes de guardar");
        return;
      }
      const empleadoNueva = this.cliente;
      axios
        .patch("/clientes/" + this.cliente.id, empleadoNueva)
        .then((res) => {
          this.clientes.push(res.data);
          toastr.success("Editado correctamente");
          this.cerrarModal();
          Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Your work has been saved",
            showConfirmButton: false,
            timer: 1500,
          });

          this.getItems();
        })
        .catch((error) => {
          this.errors = error.response.data.error;
          toastr.error("error"); //mensaje
          if (error.response.status == 422) {
            (this.errors = error.response.data.errors),
              console.log(this.errors),
              toastr.success("error");
          }
        });
    },
    Eliminar(data = []) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "Estas seguro de Eliminar?",
          text: "No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Eliminar",
          cancelButtonText: "Cancelar",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.cliente.id = data.id;
            axios
              .delete("/clientes/" + this.cliente.id, this.cliente.id)
              .then((res) => {
                toastr.success("Se elemino satisfactoriamente");
                this.getItems();
              })
              .catch((error) => {
                this.errors = error.response.data.error;
                toastr.error("error"); //mensaje
                if (error.response.status == 422) {
                  (this.errors = error.response.data.errors),
                    console.log(this.errors),
                    toastr.success("error");
                }
              });

            swalWithBootstrapButtons.fire(
              "Deleted!",
              "El Cliente ha sido eliminado!",
              "success"
            );
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            swalWithBootstrapButtons.fire(
              "Cancelada",
              "El cliente permanece!",
              "error"
            );
          }
        });
    },

    cancelarEdicion() {
      console.log(123);
      this.modoEditar = false;
      this.clearForm();
    },
    cerrarModal() {
      this.modal = 0;
      this.cliente.firstname = "";
      this.cliente.lastname = "";
      this.cliente.dob = "";
      this.cliente.phone = "";
      this.cliente.email = "";
      this.cliente.address = "";
      this.cliente.transaction = "";
      this.cliente.amount = "";
      this.cliente.date = "";
    },
    abrirModal(modelo, titulo, accion, data = []) {
      this.titulo_modal = titulo;
      switch (modelo) {
        case "cliente": {
          switch (accion) {
            case "Agregar": {
              this.modal = 1;
              this.tipo_accion = 1;
              break;
            }
            case "Editar": {
              //console.log(data);
              this.modal = 1;
              this.tipo_accion = 2;
              (this.cliente.id = data.id),
                (this.cliente.firstname = data.firstname),
                (this.cliente.lastname = data.lastname),
                (this.cliente.dob = data.dob),
                (this.cliente.phone = data.phone),
                (this.cliente.email = data.email),
                (this.cliente.address = data.address),
                (this.cliente.transaction = data.transaction),
                (this.cliente.amount = data.amount),
                (this.cliente.date = data.date);
              break;
            }
          }
        }
      }
    },
  },
};
</script>
<style>
.mostrar {
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #3c29297a !important;
}
.error {
  text-align: center;
  color: #b22305;
  font-style: oblique;
}
#bttt {
  background-color: #3c29297a !important;
  color: chartreuse;
}
</style>
